@tailwind base;
@tailwind components;
@tailwind utilities;

// Pour appliquer nos classes tailwind à des éléments de "base" de html, des balises existantes quoi
@layer base {
    body {
        @apply w-screen h-screen bg-slate-200;
    }

    header {
        @apply w-full h-1/6 hidden sm:flex;
    }

    nav {
        @apply w-full h-full bg-orange-50;

        ul {      
            @apply h-full flex justify-evenly items-center;
            a {
                @apply text-orange-800 text-xl font-bold hover:text-green-700 focus:text-yellow-100;
                
            }
        }
    }

    main {
        @apply h-5/6;
    }
}

// Pour appliquer nos classes tailwind à d'autres classes
@layer components {
    .card-container {
         @apply h-full w-5/6 bg-slate-50 m-auto flex flex-col sm:flex-row justify-evenly items-center ;
    }

    .card {
        @apply h-1/4 sm:h-5/6 w-full sm:w-1/4 bg-slate-300 sm:bg-orange-200 md:bg-pink-300 lg:bg-blue-300 flex flex-col justify-evenly items-center rounded-xl border-t-2 border-slate-700 ;

        img {
            @apply h-3/5;
        }
    }
}